body {
    /* Name of property: customization */

    background-color: black;
    color: aquamarine;

    /* color: rgb(red, green, blue);
    color: rgb(0, 0, 0); */

    /* color: rgba(red, green, blue, alpha)
    color: rgba(255, 255, 255, 0.5)
    alpha - от 0 до 1 - прозрачность цвета */

    /* color: fff; hex code  */

    font-size: 16px;
    /* rem em %*/
    line-height: 20px;
    /* на 3-4 пикселя больше шрифта (8 у дизайнеров)*/

    font-weight: 300;
    /* light */
    /* 100 - ultra-light 
    200 - semi-light 
    300 - light 
    400 - normal / regular  
    500 - medium
    600 - semi-bold
    700 - bold
    800 - metallic
    900 - black (double bold)*/

    letter-spacing: 1px;
    font-style: italic;
    opacity: 1;
    /* opacity: .5; (0.5)*/

    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Roboto", sans-serif;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /*Формат шрифта (отл-ся весом): otf ttf wow wow2 */

}

h2 {
    background-color: cornflowerblue;

    /* margin: 100px 200px 300px 400px; */
    /* 100 - отступ сверху; 200 - отступ справа; 300 - отступ снизу; 400 - отступ слева */
    /* margin: 100px; */
    /* со всех сторон отступы одинаковые */
    /* margin: 100px 200px; */
    /* 100px - сверху и снизу; 200px - справа и слева */
    /* margin: 100px 200px 300px; */
    /* 100px - сверху;  200 - справа и слева; 300 - снизу */

    /* margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px; */

    /* margin-top: -50px; */
    /* Тоже можно, наедет на соседний эл-т сверху */

    /* margin-left: auto; */
    /* Прижмется к правому краю */

    /* margin-left: auto;
    margin-right: auto; */
    /* Элемент станет по центру */

    width: 500px;
    /* px / % */
    height: 30px;
    /* min-width: 500px;
    min-height: 500px; */

    /* padding: 100px; */
    /* 
    - нет отрицательных значений
    - нет ауто
    - по умолчанию растягивает блок*/
    box-sizing: border-box;
    /* запрещает расширение на размеры заданные в padding, если они превышают width и height*/
    /* box-sizing: content-box; */
    /* разрешает расширение */

    /* h1 - margin-bottom: 100px;
       h2  margin-top: 100px;
       отступы схлопнутся и между h1 и h2 будет 100px*/


    /* <div>
          <h1>
       </div>

    h1 - margin-top: 100px;
    - либо не отступит 
    - либо отступит вместе с div
    Поэтому 1 эл-ту в блоке задаем отступ через padding */

    /* text-align: center; */
    /* center / lefr / right /  justify (по ширине) */


    text-indent: 50px;
    /* Red string */

    text-decoration: underline;
    /* underline - подчеркивание текста
       line-through - зачеркивание текста ...*/
}


/* body p {
    color: chocolate;
} */

html body div p {
    color: darkblue;
}

p {
    color: cornflowerblue;
}

.red {
    color: red;
}

#yellow {
    color: yellow;
}

.text {
    width: 50px;
}



/* ON PARA 2024.04.16 */

ul {
    /* list-style: disc; */
    /* list-style: none; */
    /* list-style: url('https://kartinki.pics/pics/uploads/posts/2022-09/1662623688_18-kartinkin-net-p-morda-tigra-vektornii-risunok-vkontakte-18.png'); */
    list-style: georgian;
    padding: 0;
    margin: 0;
}

ul li::before {
    content: '-';
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6px;
    width: 6px;
    left: 0;
    background-color: red;
    border-radius: 50%; */
}

table {
    text-align: center;
}

.background1 {
    height: 500px;
    width: 500px;
    background-color: red;
    background-image: url(images/vektorn_grafiki.png);
    background-repeat: no-repeat;
    background-position: center right;
    /* background-size: cover; */
    background-size: contain;
    background: #000 url(images/background.jpg) no-repeat center;

    border: 10px orange solid;
    /* border: 10px orange dashed;
    border: 10px orange dotted;
    border: 10px orange double;
    border-width: 50px;
    border-color: blueviolet;
    border-style: dashed;
    border-top: 10px red solid; */
    box-sizing: border-box;
    border-radius: 50px;
    /* fancy border radius generator  */
    /* border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; */
    border-radius: 10px 0;
    /* border-bottom-right-radius: 10px; */
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, .5);
    /* Смещение по оси X , по оси Y, радиус размытия, размытие по Гауссу */
    /* box shadow generator */



}

.background2 {
    height: 500px;
    width: 500px;
    background-color: cornflowerblue;
    border: 10px orange solid;
    border-radius: 10px 0;
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, .5);

    position: relative;
}

.block1 {
    height: 100px;
    width: 100px;
    background-color: aquamarine;

    /* position: static; по умолчанию */

    /* position: relative; */
    /* Global coordinate: top, right, bottom, left */
    /* z-index: 50px;   сдвиг по оси z*/

    /* position: absolute; */

    /* position: fixed;
    top: 10px;
    right: 50px; */

    position: sticky;
}

.block2 {
    height: 300px;
    width: 300px;
    background-color: burlywood;
}